.post-edit-btn {
    background:none;
    border:none;
    margin-top:0px;
    padding:0;
    cursor: pointer;
    color: rgba(255, 255, 255, 87%);
    margin: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.post-edit-btn:hover {
    font-weight: bold;
}

.post-menu-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.post-menu-box {
    border: .5px rgba(255, 255, 255, 87%) solid;

}
