.edit-post{
    padding-top: 20px;
}

.post-edit-btn:hover {
    font-weight: bold;
}

.post-menu-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.post-menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 208px;
    background-color: #121212;
    border: .3px rgba(255, 255, 255, 87%) solid;
    border-radius: 10px;
    margin-top: 10px;
}

.post-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
