.comment-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #121212;
}

.comment-menu-btn {
    background:none;
    border:none;
    margin-top:0px;
    padding:0;
    cursor: pointer;

}
