.edit-form-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;

}

.edit-post-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 266px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    border: .5px rgba(255, 255, 255, 87%) solid;
    color: rgba(255, 255, 255, 87%);
    border-radius: 10px;
}

.postInput {
    margin-left: 30px;
    margin-right: 30px;
    color: rgba(255, 255, 255, 87%);
    height: 100px;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    width: 250px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.postInput:hover {
    cursor: pointer;
}

.postInput:focus {
    cursor: text;
}

.postInput::-webkit-scrollbar {
    display: none;
}

.edit-btn-post {
    font-size: 20px;
    border-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-top:rgba(255, 255, 255, 87%) solid .5px;
}

.edit-post-textarea-container {
    display: flex;
    justify-content: center;
}

.edit-post-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #121212;
    border:rgba(255, 255, 255, 87%) solid .5px;
    border-radius: 10px;
}


