.post-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.post-page-box-main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.post-page-footer{
    margin-top: 10%;
}

.likes-text {
    color: rgba(255, 255, 255, 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}

.unlike-text {
    color: rgba(255, 255, 255, 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    margin-top: 0px;
}
