.post-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.post-page-box-main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.post-page-footer{
    margin-top: 10%;
}
