.footer-about-container {
    display: flex;
    color: rgba(255, 255, 255, 87%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 15%; */
    /* margin-bottom: 50px; */
}

.footer-about {
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 87%);

}

.footer-linkedin {
    color: rgba(255, 255, 255, 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.footer-github {
    color: rgba(255, 255, 255, 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.footer-about-dot {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.footer-copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
