@font-face {font-family: "Billabong";
    src: url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.eot");
    src: url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/e721330050ecfe81b4e5455e1a308181.svg#Billabong") format("svg"); }


.pageNotFoundContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
}

.sad-face {
  margin-bottom: 20px;
}

.landing-button {
    background:none;
    border:none;
    margin-top:0px;
    padding:0;
    color: rgba(255, 255, 255, 87%);
    margin: 5px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landing-button:hover {
    cursor: pointer;
    font-size: 30px;

}

/* button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
} */
