.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 360px;
    border: rgba(255, 255, 255, 87%) solid .5px;
}

.or-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 1rem;
    margin-bottom: 10px
}

.or-line {
    height: 1px;
    width: 110px;
    background-color: rgba(255, 255, 255, 87%);
}

.or {
    color: rgba(255, 255, 255, 87%);
    font-size: 13px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.demo-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #385185;
    font-weight: bolder;
}

.demo-btn:hover {
    cursor: pointer;
}


.login-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    width: 278px;
    padding: 12px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 6px;
}

.login-btn:hover{
    cursor: pointer;
    font-weight: bolder;
}
