
@import url(//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);


.logo {
    display: flex;
    justify-content: center;
    font-family: 'Billabong', sans-serif;;
    font-size: 62px;
    color: rgba(255, 255, 255, 87%);
    margin: 10px 0px 0px 0px;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100%;
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    border: rgba(255, 255, 255, 87%) solid .5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-input-box {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 2px;
}

.form-input {
    color: rgba(255, 255, 255, 87%);
    width: 250px;
    padding: 12px;
    border: rgba(255, 255, 255, 87%) solid .5px;
    background-color: #121212;
}

.form-input:hover {
    cursor: pointer;
}

.form-input:focus {
    cursor: text;
}

.form-bottom-box {
    display: flex;
    justify-content: center;
    border: rgba(255, 255, 255, 87%) solid .5px;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 87%);
}

.form-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    width: 278px;
    padding: 12px;
    border-radius: 5px;
    margin: 10px;
}

.signup-message {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 87%);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 20px; */
}


.form-bottom-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 87%);
}

a {
    text-decoration: none;
    color: #0095f6;
}

.demo-signup {
    background-color: #0095f6;
    color: white;
    border: none;
    width: 278px;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.demo-signup:hover {
    cursor: pointer;
    /* text-decoration-line: underline; */
    font-weight: bolder;
}

.question-link {
    color: #0095f6
}

.form-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}

.btn-container {
    display: flex;
    justify-content: center;
}
