.post-box-top {
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 56px;
    border-top: .5px black solid;
    border-left: .5px black solid;
    border-right: .5px black solid;
    border-radius: 8px 8px 0px 0px;
}


.post-image {
    width: 471px;
    height: auto;
    object-fit: contain;
}

.post-box-main {
    margin: 20px;
    width: auto;
}


.post-box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 470px;
    border: .5px black solid;
    border-radius: 0px 0px 8px 8px;
    word-wrap: break-word;
}

.post-summary {
    display: flex;
    width: 470px;
    height: 291px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.updatedAt {
    margin-bottom: 15px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.top-box {
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.summary {
    margin: 15px;
}

.username {
    font-weight: bold;
    margin: 15px;
}

.comment-format-box {
    display: flex;
}

/* .comment-count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 10px;
} */

.comment-count-btn {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 5px;
}


