.comment-form-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #121212;
}


.comment-input-box {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comment-post-btn {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    color: rgba(255, 255, 255, 87%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.commentInput {
    width: 400px;
    background:none;
    border:none;
}

.comment-input-text {
    margin-left: 15px;
    margin-right: 15px;
}

.commentInput {
    color: rgba(255, 255, 255, 87%);
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.comment-input {
    color: rgba(255, 255, 255, 87%);;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

.comment-input {
    width: 250px;
    margin-bottom: 20px;
    height: 100px;
    background:none;
    border: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.comment-input::-webkit-scrollbar {
    display: none;
}


.comment-input:hover {
    cursor: pointer;
}

.comment-input:focus {
    cursor: text;
}
