.single-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 654px;
    width: 1000px;
}

.single-box-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 654px;
    margin-right: 100px;
}


.post-comment-image {
    object-fit: fill;
    width: 700px;
    height: 652px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    height: 650px;
}

.comment-top {
    width: 470px;
    height: 12%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-top-right-radius: 5px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 100%;
    background-color: white;
    border-top: .5px solid black;
}

.comment-user {
    margin: 15px 15px 0px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.comment-summary {
    margin: 15px 5px 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.comments-content {
    display: flex;
}

.comment-caption {
    display: flex;
    margin-bottom: 2px;
    margin-top: 10px;
}


.comment-updatedAt {
    margin: 15px 15px 20px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.comment-user-2 {
    margin: 15px 15px 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.comment-summary-2 {
    margin: 15px 5px 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.comment-bottom {
    width: 470px;
    height: 20%;
    background-color: white;
    border-top: .5px solid black;
}

.comment-bottom-description {
    width: 470px;
    height: 10%;
    background-color: white;
    border-top: .5px solid black;
    border-bottom-right-radius: 5px;
}
