.post-comment-form {
    border-radius: 5px;
}


.post-comment-input-box {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.post-comment-btn {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    color: #0095f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.postCommentInput {
    width: 400px;
    height: 100%;
    background:none;
    border:none;
}

.post-comment-input-text {
    margin-left: 15px;
}

.postCommentInput {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.post-comment-bottom-description {
    width: 470px;
    background-color: white;
    border-top: .5px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
