@import url(//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular);
.logo-name {
    margin: 0% 0% 5% 0%;
}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Billabong', sans-serif;;
    font-size: 30px;
    margin-left: 200px;
    color: rgba(255, 255, 255, 87%);
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin: 0px;
    padding: 0;
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0%;
    width: 100vw;
    height: 60px;
    border-bottom: .5px rgba(255, 255, 255, 87%) solid;
}

.nav-icons {
    display: flex;
    margin-right: 100px;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0%;
}

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    list-style: none;
    color: rgba(255, 255, 255, 87%);
}

.nav-div2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 9px;
    list-style: none;
    color: rgba(255, 255, 255, 87%);
}

.nav-div:hover {
    cursor: pointer;
}

#navContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.navLink{
    font-family: 'Fredoka One';
    /* margin: 5px; */
    font-size: 20px;
    margin-right: 10px;
    letter-spacing: 1.5px;

}

.navLink:hover{
    cursor:pointer;
}

.homeBtn {
    font-size: 32px;
    font-family: 'Fredoka One';
    margin-left: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.dropdownList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 87%);
    display: flex;
    border-radius: 4px;
    justify-content: center;
    width: 200px;
    height: 75px;
    font-size: 18px;
    font-weight: bolder;
    /* background-color: rgba(0, 0, 0, .4); */

}


.dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 105px;
    border: .5px rgba(255, 255, 255, 87%) solid;
    border-radius: 6px;
    list-style-type: none;
    font-family: 'Vazirmatn';
    /* padding: 5px; */
    width: 200px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.profileBtn{
    border-radius: 20px;
}

.logout-btn {
    background:none;
    border:none;
    margin:0px;
    padding:0;
    color: rgba(255, 255, 255, 87%);
    /* margin: 5px; */
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: .5px rgba(255, 255, 255, 87%) solid; */
    width: 100%;
    height: 50px;
}

.profile-page-btn {
    background:none;
    border:none;
    margin-top: 10px;
    padding:0;
    color: rgba(255, 255, 255, 87%);
    /* margin: 5px; */
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: .5px rgba(255, 255, 255, 87%) solid; */
    width: 100%;
}

.logout-btn:hover {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.profile-page-btn:hover {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
